/*ORIGINAL TASK PUPILS STARTED WITH */
/* Insert any CSS code below here */

#outside {
  z-index: 1;
  position: absolute;
  background-color: #74a7fe;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-origin: 0;
}

.open-card {
  transform: rotateY(90deg);
}

#outside-title {
  background-image: linear-gradient(aqua,  teal);
  color: #000000;
  font-family: fantasy;
  font-size: 50pt;
  text-align: center;
}

#outside-pic {
  width: 200px;
  height: 200px;
 border-image: double;
}

#outside-help {
  color: white;
  font-family:cursive;
  font-size: 12pt;
  text-align: center;
  padding: 20px;
}

#inside {
  z-index: 0;
  position: absolute;
  background-image: linear-gradient(pink,  purple);
  width: 100%;
  height: 100%;
  text-align: center;
}

#inside-title {
  color: black;
  font-family: Courier;
  font-size: 12pt;
  text-align: center;
}

#inside-pic {
  width: 200px;
  height: 200px;
}

#message {
  color: white;
  font-family: cursive;
  font-size: 15pt;
  text-align: center;
}

button {
  background: #ed719e;
}
